/* .about-hero-section {
    padding-top: 100px !important;
    background-image: url("../image/about-hero.jpg");
    height: 650px; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    } */