
@media (min-width: 1440px){
.courses-btn {
  margin-top: -30px;
  }
  #singleSlideCarousel .owl-prev,
#singleSlideCarousel .owl-next
{
top: 40%;
}
.news-detail-section{
padding-top: 100px;
}
.contact-detail-section .container{
max-width: 1070px;
}
}


@media (min-width: 1360px) {
/* about mission css */
.about-mission .container{
max-width: 1480px;
}

.about-person .container{
    max-width: 1440px;
}
}


@media (max-width: 1440px){
  #header .nav-padding {
    flex-basis: inherit;
    padding-right: 20px;
    padding-left: 40px;
  }
.about-person .container {
    max-width: 1358px;
}
.whychoose.about-corporate-section {
  background: linear-gradient(16deg, #ee7623, #ee7623 61.5%, white 57%, white 0%);
}
.courses-data h1 {
  font-size: 43px;
}
.courses-data{
  padding-top: 40px;
  }
  .courses-herosection{
  background-size: cover;
  }
  .courses-data {
    padding-bottom: 21px;
    padding-top: 72px;
}
.courses-btn .btn{
  padding: 20px 40px;
}

.courses-data{
  padding-top: 50px;
  /* padding-left: 20px; */
  }

  .cdetail-data{
    padding-top: 101px;
    padding-left: 78px;
  }
  .cdetail-data h1 {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .cdetail-data h2{
    font-size: 22px;
  }
  .cdetail-data ul {
    margin-bottom: 30px;
}
.cdetail-data h3 {
  margin-bottom: 20px;
}

.other-courses {
    padding: 40px 0;
}
.news-section::before {
  top: 69px;
}
}
@media (max-width: 1024px) {
  .faciliy-section::before{
    display: none;
  }

.contact-detail-section {
  margin-bottom: 100px;
}
.contact-detail-box {
  padding: 30px 10px;
}
}
@media (max-width: 1024px) {

  .main-box:not(:last-child){
    border-right: 0px solid #e9e9e9;
  }
  .one-col:not(:last-child){
    border-bottom: 0px solid #e9e9e9;
  }
  .main-box:nth-child(1), .main-box:nth-child(3){
    border-right: 1px solid #e9e9e9;
  }
.about-person h2{
    font-size: 40px;
    line-height: 44px;
}
.about-mission h2{
font-size: 45px;
line-height: 55px;
}

.whychoose.about-corporate-section{
    background: linear-gradient(11deg, #ee7623, #ee7623 69.5%, white 68%, white 0%);
}

.about-corporate-section .choose-img img {
  width: 100%;
  max-width: 270px;
}
.whychoose.about-corporate-section .container {
    padding-top: 316px;
}
.whychoose.about-corporate-section .about-profile h2 {
    font-size: 46px;
    line-height: 56px;
}
.whychoose.about-corporate-section .about-profile-row{
    justify-content: center;
}
.corporate-line-left:after{
    height: 390px;
}
.cdetail-data {
  padding-left: 36px;
}

.cdetail-data h1 {
  font-size: 41px;
}
.cdetail-data h2 {
  font-size: 28px;
}
.cdetail-data p {
  font-size: 14px;
}
.cdetail-data ul li {
  font-size: 14px;
}
.cdetail-data h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
.product-detail-courses span {
  font-size: 16px;
}
.cdetail-btn {
  margin-top: 21px;
}
.cdetail-data ul {
  margin-bottom: 18px;
}
.product-detail-courses h4 {
  font-size: 22px;
}
.cdetail-btn .btn {
  font-size: 18px;
  width: 254px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#singleSlideCarousel .owl-prev,
#singleSlideCarousel .owl-next
{
  top: 37%;
}
.news-section {
  padding-top: 200px;
  margin-bottom: 100px;
}
.news-section::before {
 display: none;
}
.blog-details-section h2 {
  font-size: 50px;
  line-height: 66px;
}
.news-detail-section{
  padding-top: 100px;
}
}


  
@media (min-width: 1200px) {
.banner{
position: relative;
}
.owl-dots{
position: absolute;
bottom: 12%;
left: 50%;
height: 0;
}

}
@media screen and (min-device-width: 991px) and (max-device-width: 1630px) { 

/* home hero */
.banner .item .row{
padding: 50px 0px 0 54px;
}
}

@media screen and (min-device-width: 991px) and (max-device-width: 1200px) { 
.services-data{
padding-bottom: 30px;
}
.services-img{
margin-top: 53px;
}
}
@media (min-width: 1400px) {
.courses #container-course{
  max-width: 1580px;
}
.success .container{
  max-width: 1512px;
}
}
@media (max-width: 1499px) {
  .about-hero-section h1{
    font-size: 40px;
  }
/* --header-- */
#header .nav-item {
  padding: 0;
}
.partners-logo {
  padding: 0px;
}
.whychoose {
padding-top: 0;
}
.course-img img {
  max-width: 100%!important;
}
}
@media (max-width: 1024px) {
  .faciliy-section .one-col {
    grid-template-columns: repeat(2, 1fr); 
  }
  .main-box{
    border-bottom: 1px solid #e9e9e9;
  }
  .courses-detail-img-per {
    top: 88px;
}
/* --header-- */
.register-text {
  font-size: 14px;
  display: block;
}
#header .nav-link {
  font-size: 14px;
}
#header .nav-padding {
  padding-left: 10px;
  padding-right: 10px;
}
#header .nav-search {
  margin-left: 0 !important;
}
/* --baner-- */
.common-btn .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}
.banner-content h1 {
  font-size: 38px;
  max-width: 400px;
  margin-bottom: 20px;
}

/* --aboutus-- */
.aboutus {
  padding: 40px 0;
}
.about-content {
  padding-right: 0;
  margin-bottom: 30px;
}
.aboutus-form input {
  margin-bottom: 16px;
}
.aboutus-form select {
  margin-bottom: 16px;
}
.aboutus h2 {
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.aboutus-form input {
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.aboutus-form select {
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* --vip training-- */
.training-rightdata h2{
  font-size: 30px;
}
.training-rightdata{
  background-color: var(--yellow-color);
  height: 670px;
}
.vip-training {
padding: 100px 0 40px;
}
.car-img img{
  width: 100%;
  max-width: 80%;
  top: 50%;
  left: 6%;
}
/* -- */
.choose-img img{
width: 270px;
}

/* --footer-- */
.department-header h2 {
font-size: 36px;
}


/* -- */
.choose-img{
top: 10%;
right: 10%;
}
.whychoose {
  background: linear-gradient(18deg, #ee7623, #ee7623 68.5%, white 67%, white 0%);

}
.whychoose .container{
padding-top: 223px;
}
.course-img img {
  max-width: -webkit-fill-available !important;
}
}


@media (max-width: 991px) {
  .other-Courses-data h2{
    font-size: 38px;
    line-height: 52px;
  }
.services .container .row{
flex-direction: column-reverse;
}
.services-img img {
margin-top: 30px;
}
.services-data{
text-align: center;
}
.services-data h2 {
max-width: 500px;
margin: 0 auto 30px;
}
.services-img img {
max-width: 500px;
}
.col-mobile{
text-align: center;
}

/* about page css start */
.about-hero-section{
  background-position: right center;
}
.about-person {
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-person-content {
  padding-left: 0;
  margin-top: 55px;
}
.about-school{
  padding-top: 80px;
}
.about-mission .about-mission-box{
  height: auto;
}
.about-mission h2{
  font-size: 40px;
  line-height: 50px;
}
.about-corporate-section .about-img {
  position: absolute;
  top: 5%;
  left: 59%;
  z-index: 3!important;
}
.whychoose.about-corporate-section {
  background: linear-gradient(19deg, #ee7623, #ee7623 81.5%, white 72%, white 0%);
}
.whychoose.about-corporate-section .corporate-line-left:after{
  height: 482px;
}
.about-profile h2 {
  font-size: 47px;
  line-height: 62px;
  max-width: 100%;
  text-align: start;
}
.services .container .row{
flex-direction: column-reverse;
}
.services-img img {
margin-top: 30px;
}
.services-data{
text-align: center;
}
.services-data h2 {
max-width: 500px;
margin: 0 auto 30px;
}
.services-img img {
max-width: 500px;
}
.col-mobile{
text-align: center;
}
.about-profile {
  padding-top: 80px;
  padding-bottom: 40px;
}
.cdetail-data h1 {
  font-size: 33px;
}
.cdetail-data h2 {
  font-size: 26px;
}
.cdetail-data h3 {
  font-size: 27px;
}
.cdetail-btn .btn {
  width: 254px;
  padding-top: 11px;
  padding-bottom: 11px;
}

}
@media (max-width: 768px) {
/* --header-- */
.navbar-collapse {
  padding: 36px;
}

/* --vip trainig-- */
.training-rightdata{
  height: 570px;
}
.car-img img{
  top: 70%;
}

/* --services-- */

/* --footer-- */

.learning-text h2 {
font-size: 24px;
}
.learning-text h3 {
font-size: 24px;
}
.footer-btn .btn {
width: 160px;
padding-top: 10px;
padding-bottom: 10px;
}
.department-header h2 {
font-size: 28px;
}
.department-header p {
font-size: 14px;
}
.choose-img{
  top: 7%;
  right: 7%;
}
.whychoose{
  background: linear-gradient(22deg, #ee7623, #ee7623 74.5%, white 73%, white 0%);
}
.whychoose .container{
  padding-top: 195px;
}
.services-data img {
  width: 40px;
}

.services-data h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services{
  padding-top: 60px;
}
.services-img img {
  margin-top: 0px;
}

/* about page css start */
.about-person-content {
  padding: 0 30px;
  margin-top: 55px;
}
.about-preson-img-col{
  text-align: center;
}
/* services mobile section */
.services-data img {
width: 40px;
}

.services-data h2 {
font-size: 30px;
font-weight: 700;
margin-bottom: 20px;
}
.services{
padding-top: 50px;
}
.services-img img {
margin-top: 0px;
}

.about-mission .about-mission-box {
  padding: 80px 45px 50px;
  height: auto;
}
.why-choose-right-column{
  padding-left: 45px;
}
.about-mission {
  padding: 70px 30px 20px;
}
.why-choose-left-column, .why-choose-right-column  {
  padding-left: 40px;
}
.about-person .container{
  padding: 0 20px;
}
.about-hero-section .container{
  padding: 0 30px;
}
 /* --course-page---- */
 .product-btn .btn {
  font-size: 18px;
  width: 249px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.course-img img {
  max-width: -webkit-fill-available !important;
}
.courses-data h1 {
  font-size: 32px;
}.courses-data ul li {
  font-size: 17px;
}
.courses-btn .btn {
  width: 234px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.courses-btn .btn {
  font-size: 16px;
}
.faciliy-section .one-col {
  grid-template-columns: repeat(2, 1fr); 
}
.courses-detail-img-per {
  top: 88px;
}
.courses-detail-img {
  position: relative;
  padding-top: 184px;
}
.col-course-image {
  height: 91vh;
}
.faciliy-section {
  padding-top: 165px;
}
.facility-content {
  margin-bottom: 60px;
}
.faciliy-section {  
  margin-bottom: 100px;
}
.faciliy-detail-section {
  padding-top: 87px;
}
.facility-detail-content h2 {
  font-size: 45px;
  line-height: 55px;
}
.gallery-detail-content h2 {
  font-size: 45px;
  line-height: 55px;
}
#singleSlideCarousel .owl-prev,
#singleSlideCarousel .owl-next {
  top: 33%;
}
.facility-detail-content {
  margin-top: 90px;
  margin-bottom: 62px;
}
.gallery-detail-content {
  margin-top: 90px;
  margin-bottom: 62px;
}
.gallery-lable::before{
  display: none;
}
.gallary-product {
  margin-top: 40px;
  margin-bottom: 80px;
}
.gallary-detail-content {
  padding-top: 150px;
}
.gallary-detail-content h2 {
  font-size: 45px;
  line-height: 55px;
}
.news-section h2 {
  font-size: 40px;
  line-height: 50px;
}
.blog-details-section h2 {
  font-size: 36px;
  line-height: 49px;
}

/* contact */
.contact-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 35px #00000021;
  border-radius: 30px;
  opacity: 1;
  padding: 92px 30px 50px;
  margin-top: -150px;
}
.contact-box h2 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 0 !important;
  position: relative;
}
.contact-form-box {
  margin-top: 30px;
}
.contact-detail-section h2 {
  font-size: 46px;
}
.contact-main-box {
  padding-top: 30px;
}
.contact-detail-section {
  margin-bottom: 10px;
}
.contact-section {
  margin-bottom: 100px;
}
.contact-main-box {
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 500px;
  margin: auto;
}
}


@media (max-width:767px) {
  .courses-detail-img {
    position: relative;
    padding-top: 100px;
  }
  .courses-detail-img-per {
    top: 0%;
    width: 40%;
  }
/* banner */
.banner-col{
margin-bottom: 30px;
}
.banner {
padding: 100px 0 0;
}
/* success */
.success .border-right{
border: none;
}
/* vip-training */
.vip-training{
padding: 60px 0 0;
}
.vip-training .row{
row-gap: 30px;
}
.success{
padding: 60px 0;
}
.success-header h2{
font-size: 32px;
}
.connectus-header h2{
font-size: 28px;
}
.services-img {
margin-top: 0px;
}
.course-img {
  padding-top: 40px;
}
/* about page css start */
.services-img {
  margin-top: 0px;
  }
  .about-corporate-section .about-img {
      position: absolute;
      top: 9%;
      left: 66%;
      z-index: 3!important;
  }
  .faciliy-section .one-col {
    grid-template-columns: repeat(1, 1fr); 
  }
  /* facility section  */
   .main-box:not(:last-child){
    border-right: 0px solid #e9e9e9;
  }
  .one-col:not(:last-child){
    border-bottom: 0px solid #e9e9e9;
  }
  .main-box:nth-child(1), .main-box:nth-child(3){
    border-right: 0px solid #e9e9e9;
  }
  .facility-content {
    margin-bottom: 40px;
}
.faciliy-section h1 {
  font-size: 46px;
}
.accordion-button {
  font-size: 14px;
  font-weight: 600;
}
.news-section {
  padding-top: 150px;
  margin-bottom: 60px;
}
.blog-details-section h2 {
  font-size: 30px;
  line-height: 44px;
}
.gallery-detail-content h2 {
  font-size: 38px;
  line-height: 55px;
}
.gallery-detail-content p {
  font-size: 17px;
  line-height: 25px;
}
}
@media (max-width: 575px) {
/* --banner-- */
.banner {
  padding: 100px 0 40px;
}
.banner-content{
  text-align: center;
  margin-bottom: 30px;
}

/* --aboutus-- */

.aboutus {
  padding: 20px 0;
}

/* --courses */
.courses{
  padding: 50px 0;
}
.courses-header{
        font-size: 34px;
}

/* --trainig-- */
.training-h2{
  max-width: 100%;
  font-size: 32px;
}
.training-leftdata{
  margin-bottom: 30px;
}
.training-rightdata{
  height: 400px;
}
.car-img img{
  top: 70%;
}
.training-rightdata h2{
  max-width: 100%;
}
/* --services-- */
.services-data{
  text-align: center;
  margin-top: 50px;
}
.services-data h2{
  font-size: 32px;
}
.services-img img {
max-width: 360px;
}
/* --success-- */
.border-right{
  border-right: none;
  border-bottom: 2px solid #00000026;
  margin-bottom: 30px;
}

/* --footer-- */
footer .row > .col-12{
margin-bottom: 30px;
}
.department-header{
margin-bottom: 30px;
}

.choose-img img {
width: 211px;
}
.choose-img{
top: 7%;
right: 16%;
}
.whychoose-header h2{
font-size: 30px;
}
.whychoose{
background: linear-gradient(23deg, #ee7623, #ee7623 79.5%, white 76%, white 0%);
}
.whychoose .container{
padding-top: 300px;
}
.navbar-brand img{
width: 195px;
}
.services-data{
  padding-bottom: 20px;
}
#singleSlideCarousel .owl-next {
  top: 160px;
}
#singleSlideCarousel .owl-prev {
  top: 160px;
}
.choose-box{
  height: auto;
}

/* about page css start */
.about-hero-section, .about-person 
{
padding-left:10px;
padding-right: 10px;

}

.about-hero-section{
display: block;
padding: 100px 20px 20px;
}
.about-hero-section h1{
font-size: 40px;
}
.about-hero-section .about-content {
padding: 100px 0;
}

/* about second section */
.about-person-content {
padding-left: 0px;
padding-top: 52px;
}

.about-person {
padding-top: 60px;
padding-bottom: 60px;
}
.about-person h4.about-subtitle{
font-size: 18px;
line-height: 22px;
}
.about-person h2{
font-size: 30px;
line-height: 34px;
}

/* school section */
.about-school h4{
font-size: 24px;
}
.about-school p{
font-size: 18px;
}


/* mission section */
.about-mission h2{
font-size: 32px;
line-height: 38px;
max-width: 100%;
}
.about-mission .about-mission-box{
padding: 100px 30px 30px;
height: auto;
}
/* whychoose */
.whychoose .about-img{
top:8%;
}
/* profile section */
.about-profile h2{
font-size: 34px;
line-height: 38px;
font-weight: bold;
max-width: max-content;
}
/* --services-- */
.services-data{
text-align: center;
margin-top: 50px;
}
.services-data h2{
font-size: 32px;
}
.services-img img {
max-width: 360px;
}
.services-data{
padding-bottom: 20px;
}
.whychoose.about-corporate-section {
  background: linear-gradient(21deg, #ee7623, #ee7623 81.5%, white 72%, white 0%);
}
.whychoose.about-corporate-section .corporate-line-left:after{
    display: none;
}
.whychoose.about-corporate-section .about-img{
  left: 50%;
}
.choose-box:after{
    display: none;
}
.whychoose.about-corporate-section .corporate-line-right:after{
    display: none;
}
.about-hero-section {
    display: block;
    padding: 40px 20px 20px;
}

}
@media (max-width:425px) {

.col-course-image {
  height: auto;
}
  .about-hero-section .container {
      padding: 0 10px;
  }
  .about-school .container {
      padding: 10px 20px;
  }
  .about-school {
      padding-top: 40px;
  }
  .about-mission {
      padding: 70px 20px 20px;
  }
  .whychoose.about-corporate-section {
      background: linear-gradient(28deg, #ee7623, #ee7623 81.5%, white 72%, white 0%);
  }
  .whychoose.about-corporate-section .about-img {
      top: 6%;
      left: 28%;
  }
  .about-profile {
      padding-top: 80px;
      padding-bottom: 0;
  }
  .services.about-service {
      padding-top: 10px;
  }
  .why-choose-left-column, .why-choose-right-column {
      padding-left: 20px;
  }
  .whychoose.about-corporate-section .container{
      padding-left: 20px;
  }

.course-img {
  padding-bottom: 30px;
  padding-top: 0px;
}
.course-img img {
  max-width: -webkit-fill-available !important;
}
.courses-herosection {
  padding-bottom: 50px;
}
.product-content h3 {
  font-size: 28px;
  }
  .faciliy-section h1 {
    font-size: 38px;
}
.faciliy-section {
  padding-top: 150px;
  margin-bottom: 50px;
}
.facility-content {
  margin-bottom: 10px;
}
.facility-detail-content h2 {
  font-size: 40px;
  line-height: 50px;
}
.facility-detail-content p {
  font-size: 17px;
  line-height: 26px;
}
.blog-details-section h2 {
  font-size: 22px;
  line-height: 35px;
}
.blog-details-section {
  padding-top: 107px;
}

.contact-main-box{
  padding: 20px;
}
.contact-detail-section h2, .contact-box h2 {
  font-size: 35px;
}
.contact-form input,
.contact-form select{
  padding: 15px;
}
.contact-detail-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding: 33px;
}
.contact-box {
  padding: 80px 20px 50px;
}
.contact-detail-box {
  padding: 30px 10px;
}
}




@media (max-width: 575px){

#singleSlideCarousel .owl-prev {
  top: 17px;
}
#singleSlideCarousel .owl-next {
  top: 17px;
}
.faciliy-detail-section {
  padding-top: 79px;
}
}

@media (max-width:420px) {
/* banner */
.register-text {
  display: none;
}
.courses-product {
  padding: 40px 0;
}
}
@media (max-width: 375px) {
  .training-rightdata h2{
      max-width: 100%;
      font-size: 24px;
  }
  #coursesCarousel2 {
    padding: 0 0px;
}
.whychoose.about-corporate-section {
  background: linear-gradient(28deg, #ee7623, #ee7623 85.5%, white 72%, white 0%);
}
.courses-data h1 {
  font-size: 31px;
}
.courses-btn {
  bottom: 37%;
}
.product-btn .btn {
  padding-top: 9px;
  padding-bottom: 9px;
}
.blog-details-section h2 {
  font-size: 23px;
  line-height: 31px;
}

}

@media (max-width: 375px) {
.faciliy-detail-section {
  padding-top: 58px;
}
#singleSlideCarousel .owl-prev {
  top: 0px;
}
#singleSlideCarousel .owl-next {
  top: 0;
}
.owl-prev span, .owl-next span {
  color: var(--yellow-color);
  font-weight: 200 !important;
}
.blog-detail-first-content p, .blog-detail-sec-content p {
  color: #333333;
  font-size: 15px;
  line-height: 27px;
}
}
@media (max-width: 320px) {
  .product-content {
    padding: 14px;
}
.product-content div.gap-3{
gap: 10px!important;
}
.courses-data h1 {
  font-size: 25px;
}
.courses-btn .btn {
  width: 213px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}
.courses-btn {
  bottom: 34%;
  left: 19%;
}
#singleSlideCarousel .owl-prev,
#singleSlideCarousel .owl-next {
  font-size: 70px;
}
.facility-detail-content {
  margin-top: 70px;
  margin-bottom: 50px;
}
.facility-detail-content h2 {
  font-size: 35px;
  line-height: 37px;
}
.facility-detail-content p {
  font-size: 15px;
  line-height: 20px;
}
.blog-social {
  gap: 7px;
  margin-top: 30px;
  margin-bottom: 40px;
}
}