
@media (min-width: 1200px) {
.banner{
  position: relative;
}
.owl-dots{
  position: absolute;
  bottom: 12%;
  left: 50%;
  height: 0;
}
}
@media (min-width: 1400px) {
.courses #container-course{
  max-width: 1580px;
}
.success .container{
  max-width: 1512px;
}
.department .container{
  max-width: 1550px;
}
}
@media (max-width: 1499px) {
  /* --header-- */
  #header .nav-item {
    padding: 0;
  }
  .partners-logo {
    padding: 0px;
}
.whychoose {
  padding-top: 0;
}
}
@media (max-width: 1024px) {
  /* --header-- */
  .register-text {
    font-size: 14px;
  }
  #header .nav-link {
    font-size: 14px;
  }
  #header .nav-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  #header .nav-search {
    margin-left: 0 !important;
  }
  /* --baner-- */
  .common-btn .btn {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .banner-content h1 {
    font-size: 38px;
    max-width: 400px;
    margin-bottom: 20px;
  }

  /* --aboutus-- */
  .aboutus {
    padding: 40px 0;
  }
  .about-content {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .aboutus-form input {
    margin-bottom: 16px;
  }
  .aboutus-form select {
    margin-bottom: 16px;
  }
  .aboutus h2 {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .aboutus-form input {
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .aboutus-form select {
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  /* --vip training-- */
  .training-rightdata h2{
    padding-left: 90px;
    padding-top: 90px;
    font-size: 30px;
}
.training-rightdata{
    background-color: var(--yellow-color);
    height: 670px;
}
.car-img img{
    width: 100%;
    max-width: 80%;
    top: 50%;
    left: 6%;
}
/* -- */
.choose-img img{
  width: 270px;
}

/* --footer-- */
.department-header h2 {
font-size: 36px;
}


/* -- */
.choose-img{
  top: 10%;
}
.whychoose {
  background: linear-gradient(21deg, #ee7623, #ee7623 63.5%, white 61%, white 0%);
}
.whychoose .container{
  padding-top: 223px;
}
}

@media (max-width: 768px) {
  /* --header-- */
  .navbar-collapse {
    padding: 36px;
  }

  /* --vip trainig-- */
  .training-rightdata{
    height: 570px;
}
.car-img img{
    top: 57%;
}

/* --services-- */

/* --footer-- */

.learning-text h2 {
font-size: 24px;
}
.learning-text h3 {
  font-size: 24px;
}
.footer-btn .btn {
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.department-header h2 {
  font-size: 28px;
  }
  .department-header p {
font-size: 14px;
  }
  .choose-img{
    top: 6%;
    right: 19%;
  }
  .whychoose{
    background: linear-gradient(22deg, #ee7623, #ee7623 74.5%, white 73%, white 0%);
  }
  .whychoose .container{
    padding-top: 195px;
  }
  .services-data img {
    width: 40px;
  }

  .services-data h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .services{
    padding-top: 10px;
  }
  .services-img img {
    margin-top: -96px;
}
}
@media (max-width: 575px) {
  /* --banner-- */
  .banner {
    padding: 100
    px 0;
  }
  .banner-content{
    text-align: center;
    margin-bottom: 30px;
  }


  /* --aboutus-- */

  .aboutus {
    padding: 20px 0;
  }

  /* --courses */
  .courses{
    padding: 50px 0;
  }
  .courses-header{
         font-size: 34px;
  }

  /* --trainig-- */
  .training-h2{
    max-width: 100%;
    font-size: 32px;
  }
  .training-leftdata{
    margin-bottom: 30px;
  }
  .training-rightdata{
    height: 400px;
}
.car-img img{
    top: 70%;
}
.training-rightdata h2{
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
/* --services-- */
.services-data{
    text-align: center;
    margin-top: 50px;
}
.services-data h2{
    font-size: 32px;
}

/* --success-- */
.border-right{
    border-right: none;
    border-bottom: 2px solid #00000026;
    margin-bottom: 30px;
}

/* --footer-- */
footer .row > .col-12{
  margin-bottom: 30px;
}
.department-header{
  margin-bottom: 30px;
}

.choose-img img {
  width: 211px;
}
.choose-img{
  top: 11%;
  right: 16%;
}
.whychoose-header h2{
 font-size: 30px;
}
.whychoose{
  background: linear-gradient(23deg, #ee7623, #ee7623 74.5%, white 73%, white 0%);
}
.whychoose .container{
  padding-top: 300px;
}
.navbar-brand img{
  width: 195px;
}
 .services-data{
    padding-bottom: 20px;
  }
  #singleSlideCarousel .owl-next {
    top: 160px;
  }
  #singleSlideCarousel .owl-prev {
    top: 160px;
  }

}

@media (max-width: 375px) {
    .training-rightdata h2{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }
    #coursesCarousel2 {
      padding: 0 0px;
  }
}