* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

:root {
  --yellow-color: #ee7623;
  --brown-color: #541226;
  --white-color: #ffffff;
  --gray-color: #333333;
}
/* --whatsep-- */
.whatsep-img{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.whatsep-img img{
  width: 50px;
}
/* --header-- */
header {
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.register-text {
  color: var(--yellow-color) !important;
  font-weight: 600;
}
#header .nav-link {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
#header .nav-item {
  padding: 2px 20px;
}
#header .search-icon {
  color: var(--yellow-color);
  font-size: 20px;
}
#header .urdu-text {
  color: var(--yellow-color);
  font-size: 20px;
}
#header .nav-padding {
  padding-left: 40px;
  padding-right: 40px;
}
#header .navbar-toggler {
  border: 2px solid var(--yellow-color);
}
#header .navbar-toggler:focus {
  box-shadow: none;
}

/* --banner-- */

.banner {
  padding: 50px 0;
}
#singleSlideCarousel{
  position: relative;
}
.banner-content {
  padding-left: 30px;
}
.banner-content h1 {
  font-size: 50px;
  max-width: 400px;
  font-weight: 800;
  margin-bottom: 20px;
}
.common-btn .btn {
  border: 1px solid var(--yellow-color);
  border-radius: 30px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#singleSlideCarousel .owl-prev {
  position: absolute;
  left:0%;
  top: 50%;
  font-size: 50px;
}
#singleSlideCarousel .owl-next {
  position: absolute;
  right: 0%;
  top: 50%;
  font-size: 50px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
  color: #000!important;
  background-color: transparent!important;
}

#banner .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ee7623;
}
.banner-col {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* --aboutus-- */
.aboutus {
  padding: 100px 0;
}
.aboutus h2 {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;
}
.aboutus h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.about-content {
  padding-right: 100px;
}
.aboutus-form input {
  border: 1px solid var(--yellow-color) !important;
  border-radius: 30px;
  padding: 20px;
  color: var(--yellow-color);
  margin-bottom: 30px;
}
.aboutus-form input:focus {
  box-shadow: none;
}
.aboutus-form input::placeholder {
  color: var(--yellow-color);
}
.aboutus-form select {
  border-radius: 30px;
  border: 1px solid var(--yellow-color) !important  ;
  color: var(--yellow-color);
  margin-bottom: 30px;
  padding: 20px;
}

.form-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ee7623' viewBox='0 0 16 16'%3E%3Cpath d='M1 5l7 7 7-7'/%3E%3C/svg%3E");
  font-weight: 400;
  line-height: 1.5;
}
/* --courses-- */
.courses {
  padding: 100px 0;
  background-color: var(--yellow-color);
  position: relative;
}
#coursesCarousel .owl-prev {
  position: absolute;
  left: 0%;
  top: 50%;
  font-size: 50px;
  color: var(--white-color);
}
#coursesCarousel .owl-next {
  position: absolute;
  right: 0%;
  top: 50%;
  font-size: 50px;
  color: var(--white-color);
}
.courses-header {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white-color);
  font-weight: 600;
  position: relative;
}
.courses-header::after {
  position: absolute;
  content: "";
  background-color: var(--white-color);
  bottom: -30px;
  left: 47%;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
#coursesCarousel2{
  padding: 0 100px;
}
#coursesCarousel2 .item img{
width: 80px;
}
#coursesCarousel {
  padding: 10px 0 80px;
}
#coursesCarousel .courses-data {
  margin: 0 20px;
}
#coursesCarousel .courses-data h4 {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 28px;
}
#coursesCarousel .courses-data img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.car-img-container {
  overflow: hidden; /* Ensure the image is clipped when it moves */
  width: 100%; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
  position: relative; /* Position the container relative to the page */
}

.car-image {
  width: 100%;
  height: auto; 
  position: absolute; 
  animation: moveHorizontal 2s infinite alternate; 
}



/* @keyframes moveHorizontal {
  from {
      left: 0;
  }
  to {
      left: 10%;
  }
} */


#coursesCarousel .courses-data img:hover{
  transform: scale(1.3);
}
#coursesCarousel .courses-data .btn {
  border-radius: 20px;
  color: var(--yellow-color);
  text-transform: uppercase;
  padding: 8px 50px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--white-color);
}
#coursesCarousel .owl-dots {
  display: none;
}

/* --slide2-- */
#coursesCarousel2 {
  padding-top: 30px;
}
#coursesCarousel2 .owl-nav , #coursesCarousel2 .owl-dots{
  display: none!important;
}
/* --vip-training-- */
.vip-training {
  padding: 100px 0;
}
.training-h2 {
  font-size: 40px;
  font-weight: 800;
  max-width: 100px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px;
}
.training-h2::after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.training-rightdata {
  background-color: var(--yellow-color);
  height: 760px;
}
.training-rightdata h2 {
  color: var(--white-color);
  font-weight: 800;
  padding-top: 100px;
  font-size: 40px;
  display: flex;
    justify-content: center;
}
.training-data {
  position: relative;
}
.car-img img {
  width: 100%;
  max-width: 80%;
  object-fit: cover;
  position: absolute;
  top: 49%;
  left: 6%;
}

/* --services--- */
.services {
  background-color: var(--brown-color);
  padding-top: 40px;
  margin-top: 60px;
}
.services-data img {
  margin-bottom: 30px;
  width: 80px;
}
.services-data h2 {
  font-size: 40px;
  color: var(--white-color);
  max-width: 370px;
  font-weight: 700;
  margin-bottom: 30px;
}
.services-img img {
  margin-top: -140px;
}

/* --success-- */

.success {
  padding: 100px 0;
}
.success-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.success-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  bottom: 0;
  left: 47%;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}

.border-right {
  border-right: 2px solid #00000026;
}

.success-data {
  text-align: center;
}
.success-data img {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
}
.success-data h2 {
  color: var(--yellow-color);
  font-size: 40px;
  font-weight: 600;
}
.success-data p {
  color: var(--gray-color);
  font-size: 18px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}
.partner-img img {
  width: 120px;
}
/* --department-- */

.department {
  padding: 100px 0;
}

.department-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
  max-width: 460px;
  padding-top: 24px;
}
.department-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.department-header p {
  text-transform: uppercase;
  color: var(--yellow-color);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 17px;
}
.department-img img {
  width: 500px;
}

/* --connectus--- */
.connectus {
  padding-bottom: 100px;
}
#connectus .owl-nav{
  display: none;
}
.connectus-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin-bottom: 30px;
  max-width: 460px;
  padding-top: 24px;
}
.connectus-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
#connectus .item {
  margin: 0 10px;
}
/* --footer-- */
footer {
  padding: 100px 0;
}
.footer-logo img {
  width: 130px;
}
.data-title {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-data li {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}
.learning-text h2 {
  position: relative;
  padding-top: 20px;
  font-weight: 800;
}
.learning-text h3 {
  font-weight: 800;
  color: var(--yellow-color);
  font-size: 32px;
  margin-bottom: 20px;
}
.learning-text h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.footer-btn .btn {
  border: 1px solid var(--yellow-color);
  border-radius: 30px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  width: 170px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* --whychoose-- */
/* .partners-logo {
  padding: 100px 0;
} */
.whychoose {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(8deg, #ee7623, #ee7623 63.5%, white 60%, white 0%); */
  background: linear-gradient(16deg, #ee7623, #ee7623 57.5%, white 57%, white 0%);
    padding-top: 90px;
  padding-bottom: 10px;
  color: var(--white-color);
  position: relative;
}
.whychoose .container{
  padding-top: 400px;
}
.choose-img{
  position: absolute;
  top:27%;
  right: 24%;
  z-index: 3!important;
}
.choose-img img{
  width: 300px;
}
.whychoose-header{
  margin-bottom: 40px;
}
.whychoose-header h2{
  position: relative;
  color: var(--white-color);
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
.whychoose-header h2:after{
  position: absolute;
  content: "";
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}

.whychoose-header p{
  color: var(--white-color);
  font-size: 18px;
}
.choose-box{
  max-width: 470px;
  margin-bottom: 18px;
  position: relative;
  height: 110px;
}
.choose-box:after{
  position: absolute;
  content: "";
  background-color: var(--white-color);
  top: 14px;
  left: -35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.choose-box .box-data p{
  font-size: 14px;
  font-weight: 300;
}
.choose-box .box-data h2{
  font-size: 20px;
}
.whychoose-data{
  position: relative;
}
.whychoose-data:after{
 position: absolute;
 content: "";
 background-color: var(--white-color);
 height: 259px;
 width: 1px;
 top: 14px;
 left: -30px;
}