* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

:root {
  --yellow-color: #ee7623;
  --brown-color: #541226;
  --white-color: #ffffff;
  --gray-color: #333333;
  --black-color: #000000;
}
/* --whatsep-- */
.whatsep-img{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 3;
}
.whatsep-img img{
  width: 50px;
}

       /* Basic styling for the language switcher */
       .language-switcher {
        position: relative;
        display: inline-block;
    }

    .current-language {
        padding: 10px;
        cursor: pointer;
    }

    .language-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: auto;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .language-option {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .language-option:hover {
        background-color: #f0f0f0;
    }

/* --header-- */
header {
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.register-text {
  color: var(--yellow-color) !important;
  font-weight: 600;
}
#header .nav-link {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
#header .nav-item {
  padding: 2px 20px;
}
#header .search-icon {
  color: var(--yellow-color);
  font-size: 20px;
}
#header .urdu-text {
  color: var(--yellow-color);
  font-size: 20px;
}
#header .nav-padding {
  padding-left: 40px;
  padding-right: 40px;
}
#header .navbar-toggler {
  border: 2px solid var(--yellow-color);
}
#header .navbar-toggler:focus {
  box-shadow: none;
}

/* --banner-- */

.banner {
  padding: 50px 0;
}
#singleSlideCarousel{
  position: relative;
}
.banner-content {
  padding-left: 30px;
}
.banner-content h1 {
  font-size: 56px;
  max-width: 400px;
  font-weight: 800;
  margin-bottom: 20px;
}
.common-btn .btn {
  border: 1px solid var(--yellow-color);
  border-radius: 30px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#singleSlideCarousel .owl-prev {
  position: absolute;
  left:0%;
  top: 50%;
  font-size: 50px;
}
#singleSlideCarousel .owl-next {
  position: absolute;
  right: 0%;
  top: 50%;
  font-size: 50px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
  color: #000!important;
  background-color: transparent!important;
}

#banner .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ee7623;
}
.banner-col {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* --aboutus-- */
.aboutus {
  padding: 100px 0;
}
.aboutus h2 {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;
}
.aboutus h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.about-content {
  padding-right: 100px;
}
.aboutus-form input {
  border: 1px solid var(--yellow-color) !important;
  border-radius: 30px;
  padding: 20px;
  color: var(--yellow-color);
  margin-bottom: 30px;
}
.aboutus-form input:focus {
  box-shadow: none;
}
.aboutus-form input::placeholder {
  color: var(--yellow-color);
}
.aboutus-form select {
  border-radius: 30px;
  border: 1px solid var(--yellow-color) !important  ;
  color: var(--yellow-color);
  margin-bottom: 30px;
  padding: 20px;
}

.form-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ee7623' viewBox='0 0 16 16'%3E%3Cpath d='M1 5l7 7 7-7'/%3E%3C/svg%3E");
  font-weight: 400;
  line-height: 1.5;
}
/* --courses-- */
.courses {
  padding: 100px 0;
  background-color: var(--yellow-color);
  position: relative;
}
#coursesCarousel .owl-prev {
  position: absolute;
  left: 0%;
  top: 50%;
  font-size: 50px;
  color: var(--white-color);
}
#coursesCarousel .owl-next {
  position: absolute;
  right: 0%;
  top: 50%;
  font-size: 50px;
  color: var(--white-color);
}
.courses-header {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white-color);
  font-weight: 600;
  position: relative;
}
.courses-header::after {
  position: absolute;
  content: "";
  background-color: var(--white-color);
  bottom: -30px;
  left: 47%;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
#coursesCarousel2{
  padding: 0 100px;
}
#coursesCarousel2 .item img{
width: 80px;
}
#coursesCarousel {
  padding: 10px 0 80px;
}
#coursesCarousel .courses-data {
  margin: 0 20px;
}
#coursesCarousel .courses-data h4 {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 28px;
}
#coursesCarousel .courses-data img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.car-img-container {
  overflow: hidden; 
  width: 100%; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
  position: relative; /* Position the container relative to the page */
}

.car-image {
  width: 100%;
  height: auto; 
  position: absolute; 
  animation: moveHorizontal 2s infinite alternate; 
}



/* @keyframes moveHorizontal {
  from {
      left: 0;
  }
  to {
      left: 10%;
  }
} */


#coursesCarousel .courses-data img:hover{
  transform: scale(1.3);
}
#coursesCarousel .courses-data .btn {
  border-radius: 20px;
  color: var(--yellow-color);
  text-transform: uppercase;
  padding: 8px 50px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--white-color);
}
#coursesCarousel .owl-dots {
  display: none;
}

/* --slide2-- */
#coursesCarousel2 {
  padding-top: 30px;
}
#coursesCarousel2 .owl-nav , #coursesCarousel2 .owl-dots{
  display: none!important;
}
/* --vip-training-- */
.vip-training {
  padding: 100px 0;
}
.training-h2 {
  font-size: 40px;
  font-weight: 800;
  max-width: 100px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px;
}
.training-h2::after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.training-rightdata {
  background-color: var(--yellow-color);
  height: 760px;
}
.training-rightdata h2 {
  color: var(--white-color);
  font-weight: 800;
  padding-top: 100px;
  font-size: 40px;
  display: flex;
    justify-content: center;
}
.training-data {
  position: relative;
}
.car-img img {
  width: 100%;
  max-width: 80%;
  object-fit: cover;
  position: absolute;
  top: 49%;
  left: 6%;
}

/* --services--- */
.services {
  background-color: var(--brown-color);
  padding-top: 40px;
  margin-top: 60px;
}
.services-data img {
  margin-bottom: 30px;
  width: 80px;
}
.services-data h2 {
  font-size: 40px;
  color: var(--white-color);
  max-width: 370px;
  font-weight: 700;
  margin-bottom: 30px;
}
.services-img img {
  margin-top: -140px;
}

/* --success-- */

.success {
  padding: 100px 0;
}
.success-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.success-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  bottom: 0;
  left: 47%;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}

.border-right {
  border-right: 2px solid #00000026;
}

.success-data {
  text-align: center;
}
.success-data img {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
}
.success-data h2 {
  color: var(--yellow-color);
  font-size: 40px;
  font-weight: 600;
}
.success-data p {
  color: var(--gray-color);
  font-size: 18px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}
.partner-img img {
  width: 120px;
}
/* --department-- */

.department {
  padding: 100px 0;
}

.department-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
  max-width: 460px;
  padding-top: 24px;
}
.department-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.department-header p {
  text-transform: uppercase;
  color: var(--yellow-color);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 17px;
}
.department-img img {
  width: 500px;
}

/* --connectus--- */
.connectus {
  padding-bottom: 100px;
}
#connectus .owl-nav{
  display: none;
}
.connectus-header h2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin-bottom: 30px;
  max-width: 460px;
  padding-top: 24px;
}
.connectus-header h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
#connectus .item {
  margin: 0 10px;
}
/* --footer-- */
footer {
  padding: 100px 0;
}
.footer-logo img {
  width: 130px;
}
.data-title {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-data li {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}
.learning-text h2 {
  position: relative;
  padding-top: 20px;
  font-weight: 800;
}
.learning-text h3 {
  font-weight: 800;
  color: var(--yellow-color);
  font-size: 32px;
  margin-bottom: 20px;
}
.learning-text h2:after {
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.footer-btn .btn {
  border: 1px solid var(--yellow-color);
  border-radius: 30px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  width: 170px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* --whychoose-- */

.whychoose {
  height: 100%;
  width: 100%;
  background: linear-gradient(16deg, #ee7623, #ee7623 57.5%, white 57%, white 0%);
    padding-top: 90px;
  padding-bottom: 10px;
  color: var(--white-color);
  position: relative;
}
.whychoose .container{
  padding-top: 400px;
}
.choose-img{
  position: absolute;
  top:27%;
  right: 24%;
  z-index: 3!important;
}
.choose-img img{
  width: 300px;
}
.whychoose-header{
  margin-bottom: 40px;
}
.whychoose-header h2{
  position: relative;
  color: var(--white-color);
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
.whychoose-header h2:after{
  position: absolute;
  content: "";
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}

.whychoose-header p{
  color: var(--white-color);
  font-size: 18px;
}
.choose-box{
  max-width: 470px;
  margin-bottom: 18px;
  position: relative;
  height: 110px;
}
.choose-box:after{
  position: absolute;
  content: "";
  background-color: var(--white-color);
  top: 14px;
  left: -35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.choose-box .box-data p{
  font-size: 14px;
  font-weight: 300;
}
.choose-box .box-data h2{
  font-size: 20px;
}
.whychoose-data{
  position: relative;
}
.whychoose-data:after{
 position: absolute;
 content: "";
 background-color: var(--white-color);
 height: 259px;
 width: 1px;
 top: 14px;
 left: -30px;
}




--------------------------
/* About page start */
----------------------------



  .about-person h4{
  position: relative;
  }
  .about-person h4::before{
  position: absolute;
  content: "";
  background-color: #EE7623;
  top: -18px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
  }
  .about-person h4.about-subtitle{
  font-size: 28px;
  font-weight: bold;
  color: #000;
  }
  .about-person h2{
  color: #EE7623;
  font-size: 49px;
  line-height: 52px;
  font-weight: bold;
  }
  .about-person img{
  position: relative;
  }
  .about-person-content{
  padding-left: 48px;
  }
  
/* About driving Css Start */
.about-school{
  background-color: #EE7623;
  padding-top: 100px;
  padding-bottom: 40px;
  }
  
  .about-school h4{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 18px;
  }
  
  .about-school p{
  color:#fff;
  font-size: 18px;
  font-weight: 300;
  }

  /* about mission css start */
.about-mission{
padding: 110px 10px 20px;
}
.about-mission .about-mission-row{
gap: 60px;
justify-content: center;
}

.about-mission .about-mission-box{
background-color: #fff;
box-shadow: 0px 3px 25px #00000029;
border-radius: 52px;
padding: 145px 45px 50px;
height: 545px;
}
.about-mission h2::before{
position: absolute;
content: "";
background-color: #000;
top: -18px;
left: 0;
width: 64px;
height: 8px;
border-radius: 20px;
}
.about-mission h2{
position: relative;
max-width: 145px;
margin-bottom: 10px;
color: #000;
font-size: 56px;
line-height: 66px;
font-weight: bold;
position: relative;
}
.about-mission p{
font-size: 16px;
line-height: 25px;
font-weight: 400;
}

/* corporate section */
.about-corporate-section .about-img{
  position: absolute;
  top: 8%;
  left: 16%;
  z-index: 3!important;
  }
  .about-corporate-section .choose-box{
  height: auto;
  }
  .corporate-line-right:after {
  position: absolute;
  content: "";
  background-color: var(--white-color);
  height: 456px;
  width: 1px;
  top: 14px;
  left: -30px;
  }
  .corporate-line-left:after {
  position: absolute;
  content: "";
  background-color: var(--white-color);
  height: 350px;
  width: 1px;
  top: 14px;
  left: -30px;
  }

/* profile section */
.about-profile{
  padding-top: 100px;
  padding-bottom: 100px;
  }
  .about-profile h2{
  font-size: 56px;
  line-height: 66px;
  font-weight: bold;
  max-width: 252px;
  }
  .about-profile .btn {
  border: 1px solid var(--yellow-color);
  border-radius: 30px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  }
  .about-profile-box-right{
  text-align: center;
  }
  .about-profile h2{
  position: relative;
  }

  .about-profile h2::before{
  position: absolute;
  content: "";
  background-color: #EE7623;
  top: -18px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
  }
  .geeks {
    margin-bottom: 50px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 3px 25px #00000029;
    transition: 0.5s all ease-in-out;
  }
  .geeks:hover{
    transform: translateY(20px);
  }
  .geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
  }
  .geeks:hover img {
    transform: scale(1.1);
  }
  .about-profile-box-right .btn{
    transition: 0.5s all ease-in-out;
  }
  .about-profile-box-right .btn:hover{
    transform: translateY(10px);
  }



  /* whychoose section */
  .about-corporate-section .whychoose-header h2{
    padding-top: 0;
  }
  .whychoose-header h2:after{
    top:-30px;
  }
  .why-choose-left-column{
      padding-left: 45px;
  }
  .whychoose.about-corporate-section{
  background: linear-gradient(16deg, #ee7623, #ee7623 59.5%, white 57%, white 0%);
  }
  .whychoose.about-corporate-section .row{
    margin-top: 96px;
  }


/* About Hero section Css */
.about-hero-section {
  padding-top: 100px !important;
  background-image: url("../image/about-hero.jpg");
  height: 650px; 
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  align-items: center;
}
.about-hero-section h1{
  font-size: 56px;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.about-hero-section h1::before{
  position: absolute;
  content: "";
  background-color: #EE7623;
  top: -18px;
  left: 0;
  width: 64px;
  height: 8px;
  border-radius: 20px;
  }
.about-hero-section p{
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #fff;
  }
.about-hero-section .about-content{
  padding: 50px 0;
}


  /* About second section css start */
  .about-person{
    padding-top: 170px;
    padding-bottom: 177px;
    }

/* ---------------------------courses-------------------- */
/* ---courses-herosection--- */
.courses-herosection{
  background-image: url('../image/browncarbg.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  background-position:  center;
  padding: 50px 0;
  background-repeat: no-repeat;
}
.courses-data{
padding-top: 100px;
}
.product-bg-img{
  top: 0;
  right: 10px;
  width: 150px;
}

.course-img{
  padding-top: 100px;
}
.course-img img {
  max-width: initial !important;
}
.courses-data h1{
    font-size: 56px;
    max-width: 500px;
    font-weight: 700;
    color: var(--white-color);
}
.courses-data ul li {
  margin-bottom: 10px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 28px;
}
.courses-data ul li .fa-circle-check{
  color: var(--yellow-color);
}

.courses-btn .btn{
  border: 1px solid var(--yellow-color);
  border-radius: 40px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 23px 70px;
}
.courses-product{
  padding: 70px 0;
}
.product-list {
  border-radius: 20px;
}
.product-img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 0.5s;
 box-shadow: 0px 3px 25px #0000001A;
}
.product-list:hover .product-img{
  background-color: var(--yellow-color);
  cursor: pointer;
}
.product-content{
  padding: 20px;
}
.product-content h3{
  font-size: 36px;
  color:var(--black-color);
  font-weight: 700;
  padding-bottom: 20px;
  transition: all 0.5s;
  margin-bottom: 18px;
}
.product-list:hover .product-content h3{
  color: var(--yellow-color);
  cursor: pointer;

} 
.product-courses span{
  color: gray;
  font-size: 14px;
  font-weight: 600;
  width: 91px;
}
.product-courses h4{
  color: var(--yellow-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  transition: all 0.5s;
}
.product-courses h5{
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  transition: all 0.5s;
}
.product-list:hover .product-courses h4{
  color: var(--yellow-color);
  cursor: pointer;
}
.product-btn{
  margin-top: 28px;
  margin-bottom: 15px;
}
.product-btn .btn{
  border: 1px solid var(--yellow-color);
  border-radius: 40px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  width: 260px;
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
}
.product-btn .btn a{
  color: var(--white-color);
}
.product-btn:hover .btn {
  transform: translateY(5px);
}
.other-courses{
  padding: 100px 0;
}
.other-Courses-data h2{
  position: relative;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
.other-Courses-data h2:after{
  position: absolute;
  content: "";
  background-color: var(--yellow-color);
  top: 0;
  left: 48%;
  width: 64px;
  height: 8px;
  border-radius: 20px;
}
.cdetail-data{
  padding-bottom: 50px;
  padding-top: 140px;
}
.cdetail-data h1{
  font-size: 82px;
  font-weight: 700;
  max-width: 360px;
  margin-bottom: 30px;
  color: var(--black-color);
  margin-bottom: 30px;
}
.cdetail-data h2{
  font-size: 40px;
  font-weight: 600;
  color: var(--black-color);
}
.cdetail-data p{
  font-size: 18px;
  font-weight: 400;
  color: var(--black-color);
}
.cdetail-data ul{
  margin-bottom: 40px;
}
.cdetail-data ul li{
  color: var(--black-color);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.cdetail-data ul li .fa-circle-check{
  color: var(--yellow-color);
}
.cdetail-data h3{
  font-size: 40px;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 30px;
}

.product-detail-courses span{
  color: gray;
  font-size: 22px;
  font-weight: 500;
}
.product-detail-courses h4{
  color: var(--yellow-color);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  transition: all 0.5s;
}
.cdetail-btn{
  margin-top: 30px;
}
.cdetail-data{
  padding-left: 300px;
}
.cdetail-btn .btn{
  border: 1px solid var(--yellow-color);
  border-radius: 40px;
  background-color: var(--yellow-color);
  color: var(--white-color);
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  width: 260px;
  padding-top: 21px;
  padding-bottom: 21px;
  color: var(--white-color);
}
.courses-detail-img img{
  width: 100%;
}
